#homeList a {
    color: black;
}
header a {
    color: white;
}
header{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0 20px;
}
#headLeft{
    
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#alignNav ul{
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#navList {
    padding: 0 10px;
}
ul li{
    list-style-type: none;
}

#headRight {
    /* justify-content: center; */
    align-items: center;
    display: flex;
    flex-direction: row;
}
#headRight #search {
    width: 250px;
    height: 30px;
}
#headRight #searchButton {
    height: 30px;
}
a {
    color: black;
}
